<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="goibiboTest">

<listeners>
		<listener class-name="com.goIbiboTest.utilities.Reporting" />
	</listeners>

	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.goIbiboTest.testCases.TC_01_LoginTest" />
			<!-- <class name="com.goIbiboTest.testCases.TC_02_LoginDDT" />  -->
			<class name="com.goIbiboTest.testCases.TC_03_AddNewCustTest" />


		</classes>

	</test>

</suite>